/* Global stiller */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Scrollbar stilleri */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--mantine-color-dark-4);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mantine-color-dark-3);
}
